html,
body {
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}